<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0" />
<META HTTP-EQUIV="Pragma" CONTENT="no-cache"> 
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache"> 
<META HTTP-EQUIV="Expires" CONTENT="0">
<title>招商</title>
<script src="js/jquery1.8.3.js"></script>
<script src="js/rem.js"></script>
<link rel="stylesheet" type="text/css" href="css/style.css" />
<script src="js/browser.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/base.js" type="application/javascript"></script>
</head>

<body style="background: #fff">
<div id="app">
	<div class="maincontent" >
		<div class="main_box">
			<div class="input_list w710 font28 flex">
				<div class="input_before font28" >您的姓名:</div>
				<input placeholder="请输入姓名" v-model='submitData.name'></input>
			</div>
			<div class="input_list w710 font28 flex">
				<div class="input_before  font28">联系电话:</div>
				<input placeholder="请输入联系电话"  v-model='submitData.phone'></input>
			</div>
			<div class="input_textarea w710 font28 flexRowBetween">
				<div class="input_before  font28">招商留言:</div>
				<div class="textarea_wrap"><textarea placeholder="请输入留言" v-model='submitData.content'></textarea></div>
			</div>
			<div class="submit_info merchant_btn" @click="submit">提交</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var app = new Vue({
		el: '#app',
		data: function() {
			return {
				mainData:[],
				submitData:{
					content:'',
					name:'',
					phone:'',
				},
				searchItem:{
					thirdapp_id:2,
				},
			}
		},
		created: function () {
		},
		methods:{
			messageAdd() {
				var self = this;
				var postData = {
					token:localStorage.getItem('user_token'),
					data:{
						title:self.submitData.name,
						phone:self.submitData.phone,
						content:self.submitData.content,	
						user_type:0,
						thirdapp_id:2,	
					}
			    };
				var callback = (res)=>{
					if(res.solely_code==100000){
						alert('提交成功');
						window.location.reload()
					}else{
						alert('网络故障')
					}
				};
				window.base.messageAdd(postData,callback);
			},


			submit(){
			    const self = this;
			    var name  = self.submitData.name;
			    var phone = self.submitData.phone;
			

			    const pass = window.base.checkComplete(self.submitData);
			    if(pass){
			      if(!name ||!/^[\u4E00-\u9FA5]+$/.test(name)){
			      	alert('姓名格式错误')
			      }else{
			      	if(!phone || !/^1(3|4|5|7|8)\d{9}$/.test(phone)){
				        alert('手机格式错误')
				      }else{
				      	 self.messageAdd();
				      }
			      }
			    }else{
			      alert('请补全信息');
			    };
		  	},
		}
	});
</script>
</body>
</html>
