<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0" />
<META HTTP-EQUIV="Pragma" CONTENT="no-cache"> 
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache"> 
<META HTTP-EQUIV="Expires" CONTENT="0">
<title>我要出售</title>
<script src="js/jquery1.8.3.js"></script>
<script src="js/rem.js"></script>
<link rel="stylesheet" type="text/css" href="css/style.css" />
<script src="js/browser.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/base.js" type="application/javascript"></script>
</head>

<body>
<div id="app">
	<div class="maincontent" >
		<div class="main_box" v-for="(item,index) in cardNum">
			<div class="product_infor w710">
			    <div class="product_tlt flex">
			        <div class="tlt_cont font32 color3">产品信息</div>
			    </div>
			    <div class="product_input sell" style="height: 5.15rem;">
			        <div class="infor_list font28 flex">
			            <div class="product_left color3">选择产品类型</div>
			            <div class="product_right color6">
			            	<select placeholder="商品类型" v-model="item.category_id"   id="productType" 
			            	:data-index="index">
			            		<option label="请选择" :value="0"></option>		
			            		<option v-for="c_item in labelData" :label="c_item.title" :value="c_item.id">{{c_item.title}}</option>			
			            	</select>
			            </div>
			        </div>
			        <div class="infor_list font28 flex">
			            <div class="product_left color3">产品来源</div>
			            <div class="product_right color6">
			            	<input placeholder="商品来源"  v-model="item.product_source" />
			            </div>
			        </div>
			        <div class="infor_list font28 flex">
			            <div class="product_left color3">产品名称</div>
			            <div class="product_right color6">
			            	<input placeholder="爱奇艺"  v-model="item.title"/>
			            </div>
			        </div>
			        <div class="infor_list font28 flex" style="border:none;">
			            <div class="product_left color3">市场价格</div>
			            <div class="product_right color6">
			            	<input placeholder="请输入市场价格" v-model="item.origin_price"/>
			            </div>
			        </div>
			        <div class="infor_list font28 flex" style="border:none;">
			            <div class="product_left color3">出售价格</div>
			            <div class="product_right color6">
			            	<input placeholder="请输入出售价格" v-model="item.price"/>
			            </div>
			        </div>
			    </div>
			</div>
			<div class="product_infor w710">
			    <div class="product_tlt flex">
			        <div class="tlt_cont font32 color3">产品附加信息</div>
			    </div>
			    <div class="product_input sell sell2" style="height: 4.12rem;">
			 
			    	<div class="del"  style="width:0.5rem;height:0.5rem" ><img src="images/del.jpg"  @click="deleteImage" :data-index="index"></div>
			        <div class="infor_list font28 flex" style="height:50%">
			            <div class="product_left color3" style="width: 25%">上传二维码</div>
			            
						<div class="qecored" v-if="item.mainImg.length>=1&&item.mainImg?'display:none':''">
							<img :src="item.mainImg" />
						</div>

						<div class="upload_btn" @change="upload" v-else>+<input  type="file" style="opacity: 0;position: absolute;left:0;top:0;z-index: 1;" accept="image/*" 
							 multiple v-if="isIos" :data-index="index"></input>
						

							<input  type="file" style="opacity: 0;position: absolute;left:0;top:0;z-index: 1;" accept="image/*" 
							 multiple v-else :data-index="index"></input>
						</div>

			        </div>
			        <div class="infor_list font28 flex">
			            <div class="product_left color3">兑换码</div>
			            <div class="product_right color6">
			            	<input placeholder="请输入兑换码" v-model="item.exchange_code"/>
			            </div>
			        </div>
			        <div class="infor_list font28 flex" style="border:none;">
			            <div class="product_left color3">有效期</div>
			            <div class="product_right color6">
			            	<input placeholder="请输入有效期" v-model="item.valid_time"/>
			            </div>
			        </div>
			        <div class="add">
			        	<div style="text-align: center;" @click="addCardNum($event)" v-if="index==0">
				        	<img src="images/add.png"/>
				        </div>
				    </div>
				    <div class="add" style="left:40%;display:flex">
				        <div style="text-align: center;"  v-if="index>0">
				        	<img src="images/add.png"/ @click="addCardNum($event)" :data-index="index">
				        </div>
				        <div style="text-align: center;"  v-if="index>0">
				        	<img src="images/min.png"/ @click="minCardNum($event)" :data-index="index">
				        </div>
			        </div>
			    </div>
			</div>
		</div>
		<div class="submit_info" style="margin-top:0.5rem;" v-on:click="submit">提交</div>
	</div>
</div>

<script type="text/javascript">
	var app = new Vue({
		el: '#app',
		data: function() {
			return {
			
				labelData:[],
				cardNum:[{
					product_source:'',
					title:'',
					price:'',
					origin_price:'',
					exchange_code:'',
					mainImg:'',
					valid_time:'',
					category_id:0,
					status:0,
					type:1,
					user_no:localStorage.getItem('user_no'),
					thirdapp_id:2
				}],
				isIos:false,
			}

		},
		
		created: function () {
		
			var callback = (res)=>{
              this.getLabelData();

	        };
	        window.base.getUserToken(callback);	
		},

		methods:{
			
			
			getLabelData(){
				var self = this;
				var ua = navigator.userAgent.toLowerCase();
				self.isIos = (ua.indexOf('iphone') != -1) || (ua.indexOf('ipad') != -1);
				var postData = {
	
				};
				postData.searchItem = {
					type: ["in", [3]]
			    };
			    var callback = (res)=>{
			    	self.labelData = res.info.data;
			    };
			    window.base.labelGet(postData,callback);
			},

			addCardNum(){
			    const self = this;
			    var newCard = self.cardNum[self.cardNum.length-1] + 1;
			    self.cardNum.push({
			    	product_source:'',
					title:'',
					price:'',
					origin_price:'',
					exchange_code:'',
					mainImg:'',
					valid_time:'',
					category_id:0,
					status:0,
					type:1,
					user_no:localStorage.getItem('user_no'),
					thirdapp_id:2,
			    });
			    console.log(newCard)
			    
			    console.log(self.cardNum)
			  },

			minCardNum(e){
				const self = this;
				console.log(e)
				const index = e.target.dataset.index;
				console.log(index)
				var newCard = self.cardNum;
				self.cardNum.splice(parseInt(index),1)
				console.log(self.cardNum)
				},

			productAdd() {
				var self = this;
				var postData = {
					token:localStorage.getItem('user_token'),
					dataArray:self.cardNum,
			    };
				var callback = (res)=>{
					if(res.solely_code==100000){
						alert('提交成功');
						window.location.reload();
					}else{
						alert('网络故障')
					}
				};
				window.base.productAdd(postData,callback);
			},

			upload(e){
				var self = this;
				var file = e.target.files[0];
				var index = e.target.dataset.index;
				console.log(e)
				var param = new FormData();
				param.append('file',file,file.name);
				param.append('thirdapp_id',2);
				param.append('token',localStorage.getItem('user_token'));

				console.log(self.item)
				var callback = function (res) {
					if(res.solely_code==100000&&res.info&&res.info.url){ 
          				self.cardNum[index].mainImg = res.info.url
          			}
				};
				var res = window.base.upLoadImg(param,callback);
			},

		

      		deleteImage(e){
      			const self = this;
      			var index = e.target.dataset.index; 
      			console.log(index)
      			if(JSON.stringify(self.cardNum[index].mainImg)!={}){
      				console.log(self.cardNum)
      				self.cardNum[index].mainImg = ''	
      			}else{
      				alert('没有更多了')
      			}	
      		},

			submit(){
                const self = this;	
                console.log(self.cardNum)
             	console.log('submit',window.base.checkCompleteArray(self.cardNum))
                if(window.base.checkCompleteArray(self.cardNum)){
                    self.productAdd()
                }else{
                    alert('请补全信息')
                }
            },  
		}
	});
	
</script>
</body>
</html>
