<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0" />
<META HTTP-EQUIV="Pragma" CONTENT="no-cache"> 
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache"> 
<META HTTP-EQUIV="Expires" CONTENT="0">
<title>我要买</title>
<script src="js/jquery1.8.3.js"></script>
<script src="js/rem.js"></script>
<link rel="stylesheet" type="text/css" href="css/style.css" />
<script src="js/browser.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/base.js" type="application/javascript"></script>
<script src="js/jquery-2.1.4.min.js"></script>
</head>

<body>
<div id="app">
	<div class="maincontent" >
		<div class="main_box">
			<div class="buy_sort" :class="is_show?'slideIn':'slideOut'">
				<a v-for="(item,index) in labelData" :id="item.id" @click="changeBind" :style="item.id==	category_id?'color:#4abef9':''">{{item.title}}</a>
			</div>
			<div class="menu w710" @click="toggle">
				<img src="images/sort.jpg">
			</div>
			<div class="product flexRowBetween w710" v-for="item in mainData">
			    <div class="product_box flexRowBetween">	 
			        <div class="product_left1">
			            <img :src="item.mainImg&&item.mainImg[0]?item.mainImg[0].url:''">
			        </div>
			        <div class="product_right1 flexRowBetween">
			            <div class="product_detail">
			                <div class="font32 color3 product_top">{{item.title}}</div>
			                <div class="font28 color6 product_top">出售:{{item.price}}</div>
			                <div class="font32 color6 flexRowBetween  product_top">
			                    <div class="product_name">¥{{item.price}}</div>
			                    <div class="font24 color1 submit_info buy_now" class="color1" :data-path="item.id" @click="intoDetail">立即购买</div>
			                </div>
			            </div>
			        </div>			
			    </div>
			</div>
		</div>
	</div>
</div>
<script src="js/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
	var app = new Vue({
		el: '#app',
		data: function() {
			return {
				paginate: {
					
					count: 0,
					currentPage: 1,
					pagesize: 6,
					is_page: true,
				},
				labelData:[],
				mainData:[],
				is_show:false,
				category_id:41
			}
		},

		created: function () {
		    this.getMainData();
		    this.getLabelData()
		},

		methods:{

			toggle(e){
				var self = this;
				self.is_show = !self.is_show;
			},

			getMainData(isNew){
			    const self = this;
	          	if(isNew){
                    self.mainData = [];
                    self.paginate = {
                        count: 0,
                        currentPage: 1,
                        pagesize: 6,
                        is_page: true,
                    }
                };
			    const postData = {
			    	
			    };
			    postData.paginate = window.base.cloneForm(self.paginate);
			    postData.searchItem = {
			      thirdapp_id:2,
				  category_id:window.base.cloneForm(self.category_id),
			    };
			    const callback = (res)=>{
			        if(res.info.data.length>0){
			          self.mainData.push.apply(self.mainData,res.info.data);
			        }else{
			        
			          alert('没有更多了');
			        }
			      console.log(self.mainData);
			    };
			    window.base.productGet(postData,callback);
			},

			changeBind(e){
				const self = this;
				self.category_id = e.target.id;
				console.log(e);
				self.getMainData(true)
			},

			getLabelData(){
				var self = this;
				var postData = {

				};
				postData.searchItem = {
					type: ["in", [3]]
			    };
			    postData.order = {
			    	create_time:'normal'
			    }
			    var callback = (res)=>{
			    	self.labelData = res.info.data;
			    };
			    window.base.labelGet(postData,callback);
			},

			intoDetail(e) {
                var self = this;
                var art_id = window.base.getDataSet(e).path;
                window.location.href = "./index_product_detail.html?id=" + art_id;
            },
		}
	});
</script>
</body>
</html>
